html{
    background:url("/Users/dee/CODE/TriviaGame1/assets/tallyblack.jpg"); 
    background-size: cover;
    background-repeat:no-repeat;
    height: 100%;
    width: 100%;
    background-size: cover;
    overflow: hidden;
    border: 2px solid black;
}
body{
    
}

#start{
    background:orange;
    color: white;
}
 
header{
background: goldenrod;

}
container {
    background: yellow;
}

.container
#direct{
background: turquoise;
}

#timer{
background: red;

}
.btn.btn-dark{
    background:black;

    width: 100%;
    
}

.btn.btn-dark:hover {
    background: gray;
}

#cont{
    background:

}

#box1{
    background: black;
    color: white;
    font-size: 30px;
    text-align: center;
    border: 5px solid white; 
    border-radius: 5px;
    
}

#box2{
    background: black;
    color: wheat;
    font-size: 30px;
    text-align: center center;
    border: 5px solid white; 
    border-radius: 5px;
    
}
.card-body{ 
    background: blueviolet;
    border: 8px solid black;
    margin: 0 auto;
}
footer{
    background:rgb(7, 7, 7);
    color: white;

}
